<launch>
    <arg name="model_name"/>
    <arg name="initial_pose"/>

    <!-- <param name="robot_description"
    command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/$(arg model_name).urdf.xacro"/> -->

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find turtlebot3_description)/urdf/$(arg model_name).urdf.xacro'"/>
   
    <node name="spawn_$(arg model_name)" pkg="gazebo_ros" type="spawn_model" 
    args="$(arg initial_pose) -unpause -urdf -param robot_description -model $(arg model_name)"
    respawn="false" output="screen"/> 
   
    <node pkg="robot_state_publisher" type="robot_state_publisher" 
    name="robot_state_publisher" output="screen"/>

</launch>