<launch>
  <arg name="model_pursuer" default="$(env TURTLEBOT3_PURSUER)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos_pursuer" default="-0.5"/>
  <arg name="y_pos_pursuer" default="0.0"/>
  <arg name="z_pos_pursuer" default="0.0"/>

  <arg name="model_evader" default="$(env TURTLEBOT3_EVADER)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_pos_evader" default="0.5"/>
  <arg name="y_pos_evader" default="0.0"/>
  <arg name="z_pos_evader" default="0.0"/>
  

  <!-- Launch world-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robot_tag)/worlds/ros_plaza.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>  

  
  <!--pursuer-->
  <group ns="pursuer">
    <param name="tf_prefix" value="pursuer_tf"/>
    <include file="$(find robot_tag)/launch/one_player.launch">
      <arg name="initial_pose" value ="-x $(arg x_pos_pursuer) -y $(arg y_pos_pursuer) -z $(arg z_pos_pursuer)" />
      <arg name="model_name" value="turtlebot3_$(arg model_pursuer)"/>
      <arg name="robot_name" value="pursuer"/>
    </include>
  </group>

  <!--evader-->
  <group ns="evader">
    <param name="tf_prefix" value="evader_tf"/>
    <include file="$(find robot_tag)/launch/one_player.launch">
      <arg name="initial_pose" value ="-x $(arg x_pos_evader) -y $(arg y_pos_evader) -z $(arg z_pos_evader)" />
      <arg name="model_name" value="turtlebot3_$(arg model_evader)"/>
      <arg name="robot_name" value="evader"/>
    </include>
  </group>

</launch>
